* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

h1, h2, h3 {
    color: white;
}

button {
    background-color: unset;
    color: unset;
}

/* HEADER */
header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    align-items: center;
    z-index: 1;
    padding: 1em;
}

header img {
    height: 2.5em;
}

header button {
    margin-right: 1em;
    padding: .5em 2em;
    border-radius: 2em;
    border-color: white;
    color: white;
    text-transform: uppercase;
}

/* CONTAINER */
#container {
    display: flex;
    height: calc(100vh - 100px);
}

/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    padding: calc(50px + 2em) 1em 0;
    flex-shrink: 0;
    background-color: black;
}

aside img {
    height: 1.5rem;
    vertical-align: middle;
}

aside nav > * {
    line-height: 1.rem;
    margin: .5rem 0;
}

aside nav input {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: unset;
}

aside main {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow: auto;
    margin: 1em 0 .5em;
}

aside section h1{
    text-transform: uppercase;
}

aside section button {
    border: none;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: .5rem 0;
}

aside section button i {
    font-size: 2em;
    vertical-align: middle;
}

aside section div {
    overflow: auto;
}

aside section a {
    line-height: 2em;
}

aside footer {
    color: white;
    font-weight: bold;
    padding: .5em 0;
    line-height: 1.5em;
}

aside footer button {
    border: none;
    background-color: gray;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: .5em;
}

aside footer img {
    object-fit: cover;
    border-radius: 50%;
}

/* CONTENT */
#maincontainer {
    background-color: #141922ff;
    overflow: auto;
    padding: calc(50px + 2em) 1em 0;
    flex-grow: 1;
}

#maincontainer nav ul{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#maincontainer nav ul li {
    padding: 1em;
}

#maincontainer main {
    display: flex;
    flex-direction: column;
}

#maincontainer main .row {
    margin: 2em -.5em;
    display: flex;
}

.row .item {
    flex-basis: calc((100% / 6) - 1em);
    text-align: center;
    margin: 0 .5em;
}

.item img {
    height: auto;
    width: 100%;
    margin-bottom: .5em;
}

.item h2 {
    font-size: 1em;
}

#maincontainer main section:last-child .item img {
    border-radius: 50%;
}

/* BOTTOMBAR */
#bottombar {
    width: 100%;
    height: 100px;
    background-color: #282828ff;
    align-items: center;
    padding: 0 .5rem;
    bottom: 0;
}

#bottombar i {
    color: white;
}

#bottombar button {
    border: none;
}

#bottombar #song {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    font-size: .7rem;
}

/* COMMON */
header, #bottombar {
    display: flex;
    position: fixed;
    justify-content: space-between;
}
